.location {
 	text-align: center;
 	color: white;
 	font-size: 1.8em;
 	display: block;
 	background-color: cornflowerblue;
    padding: 10px;
    margin-left: 7%;
 	margin-right: 7%;
    border-radius: 8px;
}